In [24]:
import os
os.getcwd()

'C:\\Users\\Sunny\\Desktop\\internship project\\data sets'

In [25]:
os.chdir('C:\\Users\\Sunny\\Desktop\\internship project\\data sets')
os.getcwd()

'C:\\Users\\Sunny\\Desktop\\internship project\\data sets'

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing 
import seaborn as sns

In [27]:
df=pd.read_csv('flightsdelay1.csv')
df

,year,month,dayofmonth,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T05:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T05:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T05:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51687,2013,2,28,2257.0,2255,2.0,2400.0,2357,3.0,B6,1018,N807JB,JFK,BOS,35.0,187,22,55,2013-02-28T22:00:00Z
51688,2013,2,28,2323.0,2251,32.0,18.0,2357,21.0,B6,22,N279JB,JFK,SYR,40.0,209,22,51,2013-02-28T22:00:00Z
51689,2013,2,28,2342.0,2352,-10.0,413.0,437,-24.0,B6,739,N656JB,JFK,PSE,193.0,1617,23,52,2013-02-28T23:00:00Z
51690,2013,2,28,2356.0,2358,-2.0,423.0,438,-15.0,B6,707,N646JB,JFK,SJU,192.0,1598,23,58,2013-02-28T23:00:00Z
51691,2013,2,28,2359.0,2359,0.0,443.0,438,5.0,B6,727,N641JB,JFK,BQN,192.0,1576,23,59,2013-02-28T23:00:00Z

In [28]:
df.drop(['year','tailnum','hour','minute','time_hour','flight','air_time','distance'],axis=1,inplace=True)

In [29]:
df

,month,dayofmonth,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,origin,dest
0,1,1,517.0,515,2.0,830.0,819,11.0,UA,EWR,IAH
1,1,1,533.0,529,4.0,850.0,830,20.0,UA,LGA,IAH
2,1,1,542.0,540,2.0,923.0,850,33.0,AA,JFK,MIA
3,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,JFK,BQN
4,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,LGA,ATL
...,...,...,...,...,...,...,...,...,...,...,...
51687,2,28,2257.0,2255,2.0,2400.0,2357,3.0,B6,JFK,BOS
51688,2,28,2323.0,2251,32.0,18.0,2357,21.0,B6,JFK,SYR
51689,2,28,2342.0,2352,-10.0,413.0,437,-24.0,B6,JFK,PSE
51690,2,28,2356.0,2358,-2.0,423.0,438,-15.0,B6,JFK,SJU
51691,2,28,2359.0,2359,0.0,443.0,438,5.0,B6,JFK,BQN

In [59]:
x=df.iloc[:,:7]
y=df.iloc[:,-1]

In [60]:
x

,month,dayofmonth,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time
0,1,1,517.0,515,2.0,830.0,819
1,1,1,533.0,529,4.0,850.0,830
2,1,1,542.0,540,2.0,923.0,850
3,1,1,544.0,545,-1.0,1004.0,1022
4,1,1,554.0,600,-6.0,812.0,837
...,...,...,...,...,...,...,...
51685,2,28,2254.0,2258,-4.0,10.0,19
51687,2,28,2257.0,2255,2.0,2400.0,2357
51689,2,28,2342.0,2352,-10.0,413.0,437
51690,2,28,2356.0,2358,-2.0,423.0,438
51691,2,28,2359.0,2359,0.0,443.0,438

In [61]:
y

0        11.0
1        20.0
2        33.0
3       -18.0
4       -25.0
         ...
51685    -9.0
51687     3.0
51689   -24.0
51690   -15.0
51691     5.0
Name: arr_delay, Length: 44367, dtype: float64

In [62]:
#Apply normalization to rescale the features to a standard range of values.
#Normalize the numeric variables  in the dataframe
minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
minmax.fit(x).transform(x)

array([[0.        , 0.        , 0.2147623 , ..., 0.48979592, 0.34556065,
        0.34690416],
       [0.        , 0.        , 0.22143453, ..., 0.53061224, 0.35389746,
        0.35156913],
       [0.        , 0.        , 0.22518766, ..., 0.48979592, 0.3843268 ,
        0.36005089],
       ...,
       [1.        , 0.9       , 0.97581318, ..., 0.24489796, 0.17173822,
        0.18490246],
       [1.        , 0.9       , 0.98165138, ..., 0.40816327, 0.17590663,
        0.18532655],
       [1.        , 0.9       , 0.98290242, ..., 0.44897959, 0.18424343,
        0.18532655]])