In [7]:
import os
os.getcwd()

'C:\\Users\\Sunny\\Desktop\\internship project\\python codes'

In [8]:
os.chdir('C:\\Users\\Sunny\\Desktop\\internship project\\data sets')
os.getcwd()

'C:\\Users\\Sunny\\Desktop\\internship project\\data sets'

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing 
import seaborn as sns

In [10]:
df=pd.read_csv('flightsdelay1.csv')
df

,year,month,dayofmonth,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T05:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T05:00:00Z
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T05:00:00Z
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T05:00:00Z
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01T06:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51687,2013,2,28,2257.0,2255,2.0,2400.0,2357,3.0,B6,1018,N807JB,JFK,BOS,35.0,187,22,55,2013-02-28T22:00:00Z
51688,2013,2,28,2323.0,2251,32.0,18.0,2357,21.0,B6,22,N279JB,JFK,SYR,40.0,209,22,51,2013-02-28T22:00:00Z
51689,2013,2,28,2342.0,2352,-10.0,413.0,437,-24.0,B6,739,N656JB,JFK,PSE,193.0,1617,23,52,2013-02-28T23:00:00Z
51690,2013,2,28,2356.0,2358,-2.0,423.0,438,-15.0,B6,707,N646JB,JFK,SJU,192.0,1598,23,58,2013-02-28T23:00:00Z
51691,2013,2,28,2359.0,2359,0.0,443.0,438,5.0,B6,727,N641JB,JFK,BQN,192.0,1576,23,59,2013-02-28T23:00:00Z

In [11]:
df.drop(['year','tailnum','hour','minute','time_hour','flight','air_time','distance'],axis=1,inplace=True)

In [12]:
df

,month,dayofmonth,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,origin,dest
0,1,1,517.0,515,2.0,830.0,819,11.0,UA,EWR,IAH
1,1,1,533.0,529,4.0,850.0,830,20.0,UA,LGA,IAH
2,1,1,542.0,540,2.0,923.0,850,33.0,AA,JFK,MIA
3,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,JFK,BQN
4,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,LGA,ATL
...,...,...,...,...,...,...,...,...,...,...,...
51687,2,28,2257.0,2255,2.0,2400.0,2357,3.0,B6,JFK,BOS
51688,2,28,2323.0,2251,32.0,18.0,2357,21.0,B6,JFK,SYR
51689,2,28,2342.0,2352,-10.0,413.0,437,-24.0,B6,JFK,PSE
51690,2,28,2356.0,2358,-2.0,423.0,438,-15.0,B6,JFK,SJU
51691,2,28,2359.0,2359,0.0,443.0,438,5.0,B6,JFK,BQN

In [13]:
df.isnull().any()

month             False
dayofmonth        False
dep_time           True
sched_dep_time    False
dep_delay          True
arr_time           True
sched_arr_time    False
arr_delay          True
carrier           False
origin            False
dest              False
dtype: bool

In [14]:
df['dep_time']=df['dep_time'].replace('NA',np.nan)

In [15]:
df['dep_time'].isnull().sum()

1589

In [16]:
df['dep_time']=df['dep_time'].astype('float64')

In [17]:
mean_dep=df['dep_time'].mean()

In [18]:
df['dep_time'].fillna(mean_dep,inplace=True)

In [19]:
df['dep_delay']=df['dep_delay'].replace('NA',np.nan)

In [20]:
df['dep_delay']=df['dep_delay'].astype('float64')

In [21]:
df['dep_delay'].fillna(0,inplace=True)

In [22]:
df['arr_time']=df['arr_time'].replace('NA',np.nan)

In [23]:
df['arr_time']=df['arr_time'].astype('float64')

In [24]:
mean_arr=df['arr_time'].mean()

In [25]:
df['arr_time'].fillna(mean_arr,inplace=True)

In [26]:
df['arr_delay']=df['arr_delay'].replace('NA',np.nan)

In [27]:
df['arr_delay']=df['arr_delay'].astype('float64')

In [28]:
df['arr_delay'].fillna(0,inplace=True)

In [29]:
df.isnull().sum()

month             0
dayofmonth        0
dep_time          0
sched_dep_time    0
dep_delay         0
arr_time          0
sched_arr_time    0
arr_delay         0
carrier           0
origin            0
dest              0
dtype: int64